---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <p>
        Veo la lectura como la mejor herramienta para aprender sobre nuevos temas y, aún más, el proceso creativo
        de aplicar conocimientos aparentemente exclusivos de un área en un campo totalmente diferente.
        Aquí dejo una lista con algunos libros que he leído o estoy leyendo.
    </p>
    <br>
    <ul>
        <li>
            <div class="row">
                <div class="col-book">
                    <img src="https://images.cdn2.buscalibre.com/fit-in/360x360/cb/d3/cbd3029f810cb9dcf965d3c8e4d90ab8.jpg">
                </div>
                <div class="col-review">
                    <h3>Fundamentals of Software Architecture</h3>
                    <h4>Mark Richards & Neal Ford | 2020</h4>
                    <p>
                        Tal como indica su título, explica de qué trata la arquitectura de software, qué es lo que hace un arquitecto
                        de sofware y los distintos aspectos a considerar al momento de aplicar en cierta infraestructura un tipo
                        de arquitectura en particular.
                    </p>
                </div>
            </div>
        </li>
        <li>
            <div class="row">
                <div class="col-book">
                    <img src="https://images.cdn1.buscalibre.com/fit-in/360x360/46/e9/46e98ed1d02e1e20b5ab997ecf8448ab.jpg">
                </div>
                <div class="col-review">
                    <h3>Designign Data Visualizations</h3>
                    <h4>Noah Iliinsky & Julie Steele | 2011</h4>
                    <p>
                        Apunta a enseñar a crear buenas, efectivas y comunicativas visualizaciones de datos.
                    </p>
                </div>
            </div>
        </li>
        <li>
            <div class="row">
                <div class="col-book">
                    <img src="https://images.cdn3.buscalibre.com/fit-in/360x360/f2/3e/f23edc02655db6807738d6d5a7841428.jpg">
                </div>
                <div class="col-review">
                    <h3>Thinking With Data</h3>
                    <h4>Max Shron | 2014</h4>
                    <p>
                        Describe el proceso que se debe relizar para convertir datos en conocimiento, información útil que
                        nos permita tomar decisiones adecuadas.
                    </p>
                </div>
            </div>
        </li>
        <li>
            <div class="row">
                <div class="col-book">
                    <img src="https://m.media-amazon.com/images/I/61Pgdn8Ys-L._AC_UF1000,1000_QL80_.jpg">
                </div>
                <div class="col-review">
                    <h3>Introduction to Algorithms</h3>
                    <h4>Thomas H. Cormen, Charles E. Leiserson, Ronald L. Rivest & Clifford Stein | 2009</h4>
                    <p>
                        Más que un libro, lo considero como catálogo cada vez que tengo dudas sobre algún algoritmo
                        o estructura de datos.
                    </p>
                </div>
            </div>
        </li>
        <li>
            <div class="row">
                <div class="col-book">
                    <img src="https://images.cdn3.buscalibre.com/fit-in/360x360/af/ed/afedc0727063931413a2c9c5b54090b5.jpg">
                </div>
                <div class="col-review">
                    <h3>Python Crash Course</h3>
                    <h4>Eric Matthes | 2019</h4>
                    <p>
                        Fue el primer libro que utilicé para aprender a programar en Python de forma
                        adecuada. Cubre todos los temas fundamentales de forma sencilla. Al final el autor
                        propone proyectos para implementarlos con los conocimientos obtenidos.
                    </p>
                </div>
            </div>
        </li>
        <li>
            <div class="row">
                <div class="col-book">
                    <img src="https://images.cdn1.buscalibre.com/fit-in/360x360/26/fe/26fe7e1d8599c91077424dec50b28a30.jpg">
                </div>
                <div class="col-review">
                    <h3>Bayesian Statistics The Fun Way</h3>
                    <h4>Will Kurt | 2019</h4>
                    <p>
                        Me permitió entender como opera la estadística bayesiana, concepto que llamó mi atención cuando ví un
                        video de <a href="https://www.youtube.com/watch?v=R13BD8qKeTg&ab_channel=Veritasium" target="_blank">Veritasium</a>.
                    </p>
                </div>
            </div>
        </li>
        <li>
            <div class="row">
                <div class="col-book">
                    <img src="https://images.cdn3.buscalibre.com/fit-in/360x360/27/42/274250554f0e934407a017c3a2baadb4.jpg">
                </div>
                <div class="col-review">
                    <h3>Factfulness</h3>
                    <h4>Hans Rosling | 2018</h4>
                    <p>
                        Mediante sus experiencias, el autor expone equivocadas creencias generalizadas sobre el estado
                        del mundo actual, dado que la humanidad ha mejorado consistentemente en diversos aspectos 
                        década tras década. No todo es tan malo como parece.
                    </p>
                </div>
            </div>
        </li>
        <li>
            <div class="row">
                <div class="col-book">
                    <img src="https://images.cdn2.buscalibre.com/fit-in/360x360/79/8c/798c9591c7647faf3857343123991604.jpg">
                </div>
                <div class="col-review">
                    <h3>Pensar rápido, pensar despacio</h3>
                    <h4>Daniel Kahneman | 2011</h4>
                    <p>
                        Libro que resume el trabajo realizado por el autor y Amos Tversky sobre diversos sesgos cognitivos
                        que nos afectan en el día a día. De cierto modo, me gusta pensar en este libro como un
                        framework que me permite pensar y evaluar decisiones de forma racional.
                    </p>
                </div>
            </div>
        </li>
        <li>
            <div class="row">
                <div class="col-book">
                    <img src="https://images.cdn1.buscalibre.com/fit-in/360x360/13/ae/13aeb669c7e8a82c0cef36e0f802df70.jpg">
                </div>
                <div class="col-review">
                    <h3>Numbers don't lie</h3>
                    <h4>Vaclav Smil | 2020</h4>
                    <p>
                        Usando capítulos cortos, el autor espera que entendamos cual es realmente el estado del mundo moderno,
                        en términos poblacionales, energéticos, ambientales, alimenticios, tecnológicos, entre otros.
                    </p>
                </div>
            </div>
        </li>
        <li>
            <div class="row">
                <div class="col-book">
                    <img src="https://images.cdn2.buscalibre.com/fit-in/360x360/4d/9c/4d9cb77e799c05dfc29aa238788ea5f5.jpg">
                </div>
                <div class="col-review">
                    <h3>Atlas de inteligencia artificial</h3>
                    <h4>Kate Crawford | 2022</h4>
                    <p>
                        Trata sobre las dimensiones no superficiales de la inteligencia artificial, como la explotación minera,
                        el trabajo abusivo, técnicas discriminatorias para el entrenamiento de modelos y cómo éstos influyen 
                        en políticas carentes de moral.
                    </p>
                </div>
            </div>
        </li>
        <li>
            <div class="row">
                <div class="col-book">
                    <img src="https://images.cdn3.buscalibre.com/fit-in/360x360/a5/89/a5891caea6c5d3d1bade4b023216bd0a.jpg">
                </div>
                <div class="col-review">
                    <h3>La especie desbocada</h3>
                    <h4>Anthony Brandt & David Eagleman | 2017</h4>
                    <p>
                        Explica la motivación de la raza humana por innovar constantemente, mediante los procesos de doblar, romper
                        y mezclar. Uno de mis libros favoritos.
                    </p>
                </div>
            </div>
        </li>
    </ul>
    <br>
</Layout>

<style>
    h3 {
        color: #eeeeee;
    }
    ul {
        list-style: none;
    }
    li {
        margin-bottom: 30px;
    }
    img {
        width: 200px;
        height: 300px;
    }
    .row {
        display: flex;
    }
    .col-book {
        width: 200px;
    }
    .col-review {
        padding-left: 30px;
        width: 800px;
    }
</style>