---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <h2>Experiencia laboral</h2>
    <ul>
        <li>
            <a href="https://www.ibm.com/mx-es" target="_blank">
                <h4>
                    IBM
                </h4>
            </a>
            <p>Analista de datos, encargado de la evaluación constante del flujo de operaciones de los usuarios en la plataforma del cliente, automatizando reportes y analizando casos particulares. Se destacan las siguientes tareas:</p>
            <ul>
                <li>Generación de reportes con información relevante para evaluar el desempeño del desarrollo realizado para el negocio.</li>
                <li>Realización de pruebas a implementaciones en ambientes QA.</li>
                <li>Creación de historias de usuario.3</li>
            </ul>
        </li>
        <li>
            <a href="https://www.softwareenfacil.com/" target="_blank">
                <h4>
                    Software en fácil
                </h4>
            </a>
            <p>
                Implementación de una API RESTful utilizando .NET 6.0 para una aplicación de gestión de pedidos Ecommerce. La 
                API permitió a los clientes ingresar sus artículos en venta, consultar el estado de los pedidos y gestionar el inventario de productos. Entre las tareas desarrolladas se destaca:
                <ul>
                    <li>Implementación de los endpoints y los modelos de datos.</li>
                    <li>Implementación de la lógica de negocio y la capa de acceso a datos utilizando Entity Framework Core.</li>
                    <li>Implementación de autenticación y autorización basada en tokens JWT.</li>
                </ul>
                <br>
                Tecnologías utilizadas:
                <ul>
                    <li>.NET 6.0</li>
                    <li>Entity Framework Core</li>
                    <li>ASP.NET Core</li>
                    <li>JWT</li>
                </ul>
            </p>
        </li>
    </ul>

    <h2>Proyectos</h2>
    <ul>
        <li>
            <a href="https://calidad-del-aire-chile.vercel.app/" target="_blank">
                <h4>
                    Calidad del aire Chile
                </h4>
            </a>
            <p>
                Utilizando la <a href="https://sinca.mma.gob.cl/index.php/json/listadomapa2k19/">API</a> 
                que provee <a href="https://sinca.mma.gob.cl/">SINCA</a> se puede monitorear el estado
                de los diversos sensores que miden la calidad del aire a lo largo de Chile.
            </p>
        </li>
    </ul>

    <h2>Prácticas universitarias</h2>
    <ul>
        <li>
            <a href="https://www.linkedin.com/company/coline-data/" target="_blank">
                <h4>
                    Coline Data
                </h4>
            </a>
            <p>
                Diseño y desarrollo de un sistema capaz de obtener, procesar y visualizar datos utilizando modelos de machine 
                learning con el propósito de realizar mantenimiento predictivo de activos de alto valor en contextos industriales.
                <br>
                Desarrollo de plataformas web para visualización de datos recolectados por sensores industriales.
            </p>
        </li>
        <li>
            <a href="http://ac3e.usm.cl/" target="_blank">
                <h4>
                    AC3E
                </h4>
            </a>
            <p>
                Creación de interfaz web para visualización de datos georreferenciados correspondientes a valores de temperatura, 
                humedad y vibraciones, entre otros. Éstos datos eran obtenidos mediante sensores ubicados de forma fija. Se 
                utilizaron las siguientes herramientas:
            </p>
            <ul>
                <li>React.js</li>
                <li>Node.js</li>
                <li>MySQL</li>
                <li>Firebase</li>
            </ul>
        </li>
    </ul>
    <br>
</Layout>

<style>
    div {
        display: flex;
        justify-content: space-evenly;
    }
    img {
        margin: 20px;
        width: 55%;
        height: 55%;
    }
</style>
