---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <h1>Tomoaki Iwaya Villalobos</h1>
    <h3>Full Stack Developer</h3>
    <p>
        Actualmente estoy cursando sexto año de ingeniería civil electrónica en
        la UTFSM. Sin embargo, debido a mi curiosidad e inquietudes personales, 
        encontré una creciente pasión por el desarrollo de aplicaciones utilizando
        diversas tecnologías, frameworks y librerías. Es por esto que decidí crear 
        este espacio para compartir los resultados de mi aprendizaje.
    </p>
    <h2>Herramientas</h2>
    <p>
        A lo largo de mi carrera universitaria he probado y experimentado con diversos 
        lenguajes de programación, frameworks y programas, dentro de las cuales destaco:
    </p>
    <ul>
        <li>Javascript</li>
        <li>React</li>
        <li>Node.js</li>
        <li>Python</li>
        <li>Matlab</li>
        <li>PostgreSQL</li>
    </ul>
    <h2>Contacto</h2>
    <p>
        Para mayor información sobre mí, como mi experiencia laboral, perfil profesional 
        o explorar mis repositorios, puedes visitar mis redes:
    </p>
    <nav>
        <a href="https://www.linkedin.com/in/tomoaki-iwaya/" target="_blank">LinkedIn</a>
        <a href="https://github.com/iwayato" target="_blank">GitHub</a>
    </nav>
</Layout>

<style>
    h3 {
        color: #eeeeee;
        margin-top: -15px;
    }
    p {
        text-align: justify;
    }
    ul {
        columns: 2;
        -webkit-columns: 2;
        -moz-columns: 2;
    }
</style>
