---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <h1>Tomoaki Iwaya Villalobos</h1>
    <h3>Ingeniero civil electrónico | Universidad Técnica Federico Santa María (2018 - 2023)</h3>
    <p>
        Me caracterizo por ser autodidacta e inquieto, tengo un particular interés por el desarrollo web y visualización de datos. He 
        participado en proyectos que involucran un alto nivel de trabajo en equipo, contribuyendo desde mi perspectiva individual 
        al desarrollo de plataformas construidas a partir de tecnologías como React.js, Firebase, AWS y bases de datos, ya sean 
        relacionales o no relacionales. Soy un ávido lector, lo que me permite desarrollarme continuamente, tanto a nivel personal 
        como profesional.
    </p>
    <h2>Tecnologías y herramientas</h2>
    <ul>
        <li>Javascript</li>
        <li>React</li>
        <li>Node.js</li>
        <li>Python</li>
        <li>MATLAB</li>
        <li>PostgreSQL</li>
    </ul>
    <h2>Idiomas</h2>
    <ul>
        <li>Español (nativo)</li>
        <li><a href="https://cert.efset.org/J2D5JH" target="_blank">Inglés (C2)</a></li>
    </ul>
    <h2>Contacto</h2>
    <p>
        Para mayor información, como mi <b>experiencia laboral</b>, perfil profesional, 
        certificados o explorar mis repositorios, están disponibles los siguientes enlaces:
    </p>
    <ul>
        <li>
            <a href="https://www.linkedin.com/in/tomoaki-iwaya/" target="_blank"><h4>LinkedIn</h4></a>
        </li>
        <li>
            <a href="https://github.com/iwayato" target="_blank"><h4>GitHub</h4></a>
        </li>
    </ul>
    <br>
</Layout>

<style>
    h3 {
        color: #eeeeee;
        margin-top: -15px;
    }
</style>
