---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <h1>Proyectos</h1>
    <h2>Usando React.js y Chakra-UI</h2>
    <p>
        He trabajado en un par de ideas personales con el fin de mantener y promover
        mis habilidades como programador.
    </p>
    <ul>
        <li>
            <a href="https://estadometro.vercel.app/" target="_blank">
                Estado Red Metro
            </a>
            <p>
                Es una aplicación sencilla que muestra el estado de las líneas de metro de Santiago.
            </p>
        </li>
        <li>
            <a href="https://calidad-del-aire-chile.vercel.app/" target="_blank">
                Calidad del aire Chile
            </a>
            <p>
                Utilizando la <a href="https://sinca.mma.gob.cl/index.php/json/listadomapa2k19/">API</a> 
                que provee <a href="https://sinca.mma.gob.cl/">SINCA</a> se puede monitorear el estado
                de los diversos sensores que miden la calidad el aire en Chile.
            </p>
        </li>
    </ul>
    <h2>Utilizando MATLAB</h2>
    <p>
        MATLAB es una herramienta que he utilizado en distintas asignaturas, pero si dudas el ramo en el cual
        más lo disfute fue en <b>Robótica móvil</b> debido a que me permitió generar algoritmos y simular el 
        resultado de éstos de forma práctica.
    </p>
    <div>
        <iframe 
            width="350" 
            height="196" 
            src="https://www.youtube.com/embed/ZJnkOfDEcQY?controls=0" 
            title="YouTube video player" 
            frameborder="0" 
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
            allowfullscreen>
        </iframe>
        <iframe
            width="350" 
            height="196"  
            src="https://www.youtube.com/embed/vCLMwzx0FfM?controls=0" 
            title="YouTube video player" 
            frameborder="0" 
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
            allowfullscreen>
        </iframe>
    </div>


</Layout>
