---
import '@fontsource/space-mono';
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="icon" href="/favicon.svg"/>
    </head>
    <body>
        <nav>
            <a href="/">
                <h4>
                    Perfil
                </h4>
            </a>
            <a href="/proyectos">
                <h4>
                    Proyectos
                </h4>
            </a>
            <a href="/bookshelf">
                <h4>
                    BookShelf
                </h4>
            </a>
        </nav>
        <title>Tomoaki Iwaya Villalobos</title>
        <slot />
    </body>
</html>

<style is:global>
    body {
        margin-left: 30%;
        margin-right: 30%;
        font-family: "Space Mono";
        color: #aaaaaa;
        background-color: #262a2f;
    }
    nav {
        margin-top: 30px;
        margin-bottom: 30px;
        display: flex;
        justify-content: space-evenly;
    }
    a {
        color: #a7dad8;
    }
    h1 {
        color: #eeeeee;
    }
    h2 {
        color: #eeeeee;
    }
    p {
        text-align: justify;
    }
    ::-webkit-scrollbar {
        width: 10px;
    }
    ::-webkit-scrollbar-track {
        box-shadow: inset 0 0 0px grey;
    }
    ::-webkit-scrollbar-thumb {
        background: #a7dad8;
    }
</style>
